#row {
    margin-left: 10px;
    margin-right: 10px;
}

#list {
    height: 100px;
    width: 100px;
    margin-left: 1%;
    margin-right: 25%;
    margin-bottom: 25%;
    margin-top: 1%;
}


@media only screen and (max-width: 401px) {
    #list {
        height: 40px;
        width: 48px;
        margin-left: 0%;
        margin-right: 34%;
        margin-bottom: 101%;
        margin-top: 17%;

    }

    #row {
        margin-left: 19px;
        margin-right: 83px;
    }
}

@media only screen and (min-width:401px) and (max-width: 440px) {
    #list {
        height: 40px;
        width: 48px;
        margin-left: 10%;
        margin-right: 36%;
        margin-bottom: 101%;
        margin-top: 13%;

    }

    #row {
        margin-left: 19px;
        margin-right: 83px;
    }
}
@media only screen and (min-width:441px) and (max-width: 768px) {
    #list {
        height: 40px;
        width: 48px;
        margin-left: 10%;
        margin-right: 36%;
        margin-bottom: 101%;
        margin-top: 10%;

    }

    #row {
        margin-left: 19px;
        margin-right: 83px;
    }
}